on:
  push:
    branches: [master]
  pull_request:

jobs:
  build-docker:
    name: 'Test Generated WDL'
    runs-on: ubuntu-latest
    services:
       registry:
         image: registry:2
         ports:
           - 5000:5000
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          driver-opts: network=host

      - name: Build and push to local registry
        uses: docker/build-push-action@v4
        with:
          context: ./docker
          push: true
          tags: localhost:5000/qiime2/testq2dataflow:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Get latest QIIME 2 Environment
        shell: bash
        run: |
          wget https://raw.githubusercontent.com/qiime2/environment-files/master/latest/staging/qiime2-latest-py38-linux-conda.yml

      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: qiime2
          environment-file: qiime2-latest-py38-linux-conda.yml
          auto-activate-base: false

      - name: Install q2dataflow
        shell: bash -el {0}
        run: |
          pip install -e .
          pip install miniwdl

      - name: Run Tests
        shell: bash -el {0}
        env:
          SKIP_SLEEP: true
        run: pytest -v -x --docker-image 'localhost:5000/qiime2/testq2dataflow'
